<h1>Add new comment form:</h1>
<%= form_with(model: @comment, url: post_comments_path, local: true) do |form| %>
  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>
  <div class="actions">
    <%= form.submit "Create comment" %>
  </div>
<% end %>