<li>
  <div class="user-image">
    <img src="<%= user.photo %>" alt="profile">
  </div>
  <div class="user-name">
    <div class="name"><%= user.name %></div>
    <%= user.posts_counter %>
  </div>
</li>