
<div class="container">
  <ul>
    <% @users.each do |user| %>
      <li>
        <div class="user-image">
          <img src="<%= user.photo %>" alt="profile">
        </div>
        <div class="user-name">
          <%= user.name %>
          <%= user.posts_counter %>
        </div>
      </li>
  <% end %>
  </ul>
</div>
