<main>
  <% if user_signed_in? %>
    <h1 class="top">Welcome <%= current_user.name %></h1>
  <% end %>
  <section class="all-users">
    <div class="add_post">
      <h3>All Users</h3>
      <button class="add_post_button">
        <%= link_to "Add post", new_post_path %>
      </button>
    </div>
    <% @users.each do |user| %>
      <%= render "shared_view/user", user: user %>
      <br>
    <% end %>
  </section>
</main>
