<div class="user-info">
    <img src="<%= user.photo%>" class="profile-image" alt="Profile">
  <div class='user-details'>
    <p class="name-posts"><span class="username"><%= link_to user.name, user_path(user.id) %></span> <br>
      <span class='post-counter'>Number of posts:<%= user.posts_counter %></span>
    </p>
  </div>
</div>